body{font-family:"Myriad Pro","Segoe UI",Helvetica, Arial, sans-serif;}
/* **************** CONTENT OBJECTS ***************** */

/* ====== Elements ====== */
img{display:block;}
em{font-style: italic;}
strong{font-weight:bold;}
hr{border: 5px solid #e2e2e2; border-width: 0 0 5px 0; margin: 20px 10px 10px 10px;}
code{color:#0B8C8F;}

/* links */
a {color: #2c4460; text-decoration: none;}
a:hover {text-decoration: underline;}
a:visited { color:#005a9c; }
/* ====== Lists ======*/
/* numbered list */
ol li{list-style-type: decimal; margin-left:40px;}
/* standard list */
ul li{list-style-type:disc; margin-left:40px;}
/* plain lists */
ol.plain li, ul.plain li{list-style-type: none; margin-left:0;}

/* ====== special formatting classes ====== */
.detail{color: #777; font-size:11px;display:block;}
/* ====== images ====== */
.icon{margin-right: 5px;}
