@import url("../oocss.css");
/*@import url("../src/debug/debug.css");*/

/* use all plugins */
@import url("../plugins/breadcrumb/breadcrumb.css");
@import url("../plugins/tabs/tabs.css");
@import url("../plugins/talk/talk.css");

/* use all skins */
@import url("../skins/module_skins.css");
@import url("../skins/table_skins.css");

/* ====== special formatting classes ====== */
.detail{color: #777; font-size:11px;display:block;}
/* ====== images ====== */
.icon{margin-right: 5px;}
